# Ignore Python virtual environments
venv/
.venv/
env/
sam-env/

# Jupyter-related
__pycache__/
.ipynb_checkpoints/

# Model files, large outputs
*.pth
*.pt
*.pkl
*.h5
*.ckpt
*.tflite
*.onnx
*.lib
*.dll
*.pyd

# Output folder
outcome/
